<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%# binding.irb %>
      <%= render 'customer/customers/info', customer: @customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <%= render 'layouts/errors', obj: @comment %>
  		  <tr>
  		    <td><%= link_to customer_customer_path(@list.customer) do %>
            <%= attachment_image_tag(@list.customer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %>
          </td>
          <td>
            <%= @list.customer.name %>
          </td>  
            <% end %>
          </td>
          <td><%= link_to @list.title, customer_todolist_path(@list) %></td>
          <td><%= @list.body %></td>
          <td id="favorite_buttons_<%= @list.id %>">
            <%= render "customer/favorites/favorites", list: @list %>
          </td>
          <td>コメント件数：<%= @list.post_comments.count %></td>
          <% if @customer.id == current_customer.id %>
            <td><%= link_to 'Edit', edit_customer_todolist_path(@list), class: "btn btn-sm btn-success edit_customer_todolist_#{@list.id}" %></td>
            <td><%= link_to 'Destroy', customer_todolist_path(@list), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_customer_todolist_#{@list.id}"%></td>
          <% end %>
        </tr>
      </table>
      <div>
        <% if @comments %>
          <div class="commentsArea">
            <%= render partial: "customer/post_comments/comment", locals: { comments: @comments }%>
          </div>
        <% else %>
          <p>コメントはまだありません</p>
        <% end %>

        <div class="bottomInput">
          <%= form_with(model: [@list, @comment], url:customer_todolist_post_comments_path(@list.id),id: "new-comment") do |f| %>
            <%= f.text_area :comment, class: "inputComment" %>
            <%= f.submit "コメントする", class: "submitComment" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>