<!DOCTYPE html>
<html>
  <head>
    <title>Fising</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if request.fullpath.include?("admin") %>
    <%= render 'layouts/header' %>
    <% else %>
    <%= render 'layouts/header_customer' %>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
